
.background__image {
    background-image: url("/images/winners.jfif"); 
    height: 500px; 
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");



:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
width: 100%;
height: 1500px;
}

.logo {
    max-width: 40px;
    width: 100%;
    height: 40px;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-black);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

}


/* First section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*
=============== 
Sidebar
===============
*/
.sidebar-toggle {
  position: fixed;
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-black);
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}
.sidebar-toggle:hover {
  color: var(--clr-white);
  background-color: transparent;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  color: var(--clr-red-dark);
}
.close-btn:hover {
  color: var(--clr-red-light);
  transform: rotate(360deg);
  background-color: transparent;
}
.logo {
  justify-self: center;
  height: 40px;
}

.links a {
  display: block;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: var(--clr-grey-5);
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.75rem;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);
  transform: translate(-100%);
}
.show-sidebar {
  transform: translate(0);
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}

.btn__color {
  width: 80px;
  height: 30px;
  background-color: #2355df; /* GÖR DETTA MED VAR SEN*/
  color:white;
  box-shadow: 1px 2px 1px 1px black;
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;
}

.btn__color:hover {
  transition: all 0.3s ease;
  background-color: white;
  color:black;
    
}


/* Color-flipper */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:30px
}
.hex-btn {
  width: 50px;
  height: 20px;
  margin-top: 20px;
  color:white;
  background-color: black;
  cursor: pointer;
}

/*Midpage*/

.main__heading {
  width: 70%;
}

.text-pic__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.midpage__pic {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 40px;
}

/*POLL QUESTION*/
.poll__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.poll-btn {
  padding: 12px;
  color: #fff;
  background-color: #2355df;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  min-width: 140px;
  user-select: none;
  outline:none;
  cursor: pointer;
  margin:10px;
}
  
button:hover {
  color: #fff;
  background-color: #7898ee;
}
  

  /*About us*/

.about__us-text, .main-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  letter-spacing: 0.8px; 
  margin-top: 40px;  
}

#second__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  }



  /* Footer */

.footer__container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: var(--clr-black);
}

.footer__heading {
  margin: 10px 0px 10px 0px;
}


.social-media__container{
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  margin: 20px 0px 20px 0px;
    
}

.fa-facebook {
  color:var(--clr-primary-8);
}

.fa-instagram {
  color:var(--clr-red-light);
}

.fa-youtube {
  color:var(--clr-red-dark);
}

ul > li {
  font-size: 30px;
  cursor: pointer;
}

  
.fa-facebook:hover, .fa-youtube:hover, .fa-instagram:hover, ul > li:hover {
  color:var(--clr-white);
  transition: all 0.3s ease;
}


#demo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 40px;
  width: 450px;
  background-color: var(--clr-black);
  color:var(--clr-white);
  font-family:monospace;
  opacity: 0.8;
}

@media screen and (max-width:400px) {
  #demo{
    width: 200px;
    font-size: 15px;
    }
}


/* MODAL */

.modal-container {
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease ;
}

.extra-btn{
  width: 150px;
  height: 40px;
  margin-bottom: 10px;
  background-color: #222;
  color:white;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 2px 4px black;
}

.extra-btn:hover{
  background-color: #fff;
  color:black;
  transition: all 0.3s ease;
}

.modal {
  background-color:var(--clr-black);
  color: var(--clr-white);
  max-width: 600px;
  width: 100%;
  padding: 30px 50px;
  border-radius: 3px;
  box-shadow: 0 2px 4px black;
  text-align: center;
}

.modal__text {
  color: var(--clr-white);
}

.modal-container.show {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  pointer-events: auto;
}

#close-modal-btn {
  width: 80px;
  height:30px;
  cursor: pointer;
}

#close-modal-btn:hover {
  background-color:var(--clr-grey-1);
  color: var(--clr-white);
}